@import "tailwindcss";

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  cursor: pointer;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
